<div class="segment-example">
  <segmented-button [buttons]="buttons" />

  <p [ngStyle]="{ textAlign }">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga commodi
    tenetur dignissimos maxime reprehenderit quam hic, molestiae nisi dolorem
    nihil dolor illum asperiores incidunt distinctio quod modi, corporis quae
    neque!
  </p>
</div>
<div class="description">
  <p>
    A segmented button only allows one item to be active at the same time, which
    is a perfect usecase for the ActiveList.
  </p>
</div>
