.peek-ahead-carousel-progress {
  margin-bottom: 4px;
  width: 512px;
  height: 8px;
  background: linear-gradient(
    to right,
    rgb(107 33 168) 50%,
    rgb(102, 102, 102) 50%
  );
  background-size: 200% 100%;
}

.peek-ahead-carousel-progress.white {
  background: white;
}
