<ul class="calendar-year-months">
    <li
     *ngFor="let frame of dateGallery.frames; trackBy: frameTrackBy"
      class="calendar-year"
    >
      <button
        class="calendar-year-monthname"
        (click)="monthClicked(frame.anchorDate)"
      >
        {{ monthFormatter.format(frame.anchorDate) }}
      </button>

      <ul class="calendar-year-daynames">
        <li class="calendar-year-dayname">
          <abbr title="Sunday">S</abbr>
        </li>
        <li class="calendar-year-dayname">
          <abbr title="Monday">M</abbr>
        </li>
        <li class="calendar-year-dayname">
          <abbr title="Tuesday">T</abbr>
        </li>
        <li class="calendar-year-dayname">
          <abbr title="Wednesday">W</abbr>
        </li>
        <li class="calendar-year-dayname">
          <abbr title="Thursday">T</abbr>
        </li>
        <li class="calendar-year-dayname">
          <abbr title="Friday">F</abbr>
        </li>
        <li class="calendar-year-dayname">
          <abbr title="Saturday">S</abbr>
        </li>
      </ul>

      <ul class="calendar-year-daycells">
        <!-- 
            Place the days in the correct column, this is only needed
            for the "month" mode because it starts at the first of the 
            month, which may be on an other day than the start of 
            the week.

            The +1 is needed because CSS Grid starts counting at 1.
          -->
        <li
          *ngFor="let dateObj of frame.dates; trackBy: dateTrackBy"
          class="calendar-year-daycell"
          [ngClass]="{ 'has-event': dateObj.hasEvents }"
          [ngStyle]="{ 'grid-column': dateObj.date.getDay() + 1 }"
        >
          <button
            class="calendar-year-daycell-number"
            (click)="dayClicked(dateObj.date)"
          >
            <time [dateTime]="dateObj.date.toISOString()">
              {{ dateObj.date.getDate() }}
            </time>
          </button>
        </li>
      </ul>
    </li>
  </ul>