.condiment {
  width: 200px;
  border: blue 1px solid;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: white;
  cursor: pointer;
}

.condiment p {
  text-align: left;
}

.condiment.selected {
  background-color: lightblue;
}
