.tabs {
  border-color: black;
  border-width: 1px;
  margin-bottom: 16px;
}

.tabs .tabs-container {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: auto;
  padding: 8px;
  margin-bottom: 16px;
  border-width: 1px;
}

.tabs .tab {
  min-width: 180px;
  color: black;
  padding: 1rem;
  background-color: white;
  border: 1px black solid;
}

.tabs .tabs-container .tab:first-child {
  margin-left: auto;
}

.tabs .tabs-container .tab:last-child {
  margin-right: auto;
}

.tabs .tab.active,
.tabs .tab:hover {
  font-weight: bold;
}

.tabs .tab-content {
  display: grid;
  justify-content: center;
  padding: 16px;
}
