
  <tabs>
    <tab name="Snap carousel" href="#snap-carousel">
      <snap-carousel [slides]="owls" />

      <div class="description">
        <p>
          The example above shows a CSS based snap carousel, it has been
          enhanced by "uiloos" to move to the next slide by itself via the
          ActiveList autoPlay feature.
        </p>

        <p>
          When the user interacts with the carousel the autoPlay is disabled and
          the user assumes control of the carousel.
        </p>

        <p>
          When you disabled JavaScript carousel will still work, but it will not
          autoPlay.
        </p>
      </div>
    </tab>

    <tab name="Peek carousel" href="#peek-carousel">
      <peek-ahead-carousel [slides]="owls" />

      <div class="description">
        <p>
          This is a variant of the "Snap Carousel" example which shows the user
          a little bit of the previous and next slides.
        </p>

        <p>
          When the user interacts with the carousel the autoPlay is disabled and
          the user assumes control of the carousel.
        </p>

        <p>
          When you disabled JavaScript carousel will still work, but it will not
          autoPlay.
        </p>
      </div>
    </tab>

    <tab name="Classic carousel" href="#classic-carousel">
      <classic-carousel [slides]="owls" />

      <div class="description">
        <p>
          This example shows a classic carousel, it is classic because it does
          not use modern CSS (with snap points) to create the carousel.
        </p>

        <p>
          Instead it uses JavaScript to create the carousel, which is why it
          does not work when JavaScript is disabled.
        </p>

        <p>
          The user can either use the chevron buttons to navigate between the
          slides, or the user can click on the progress indicators. Once the
          user takes control of the carousel it will stop auto playing.
        </p>
      </div>
    </tab>

    <tab name="Accordion" href="#accordion">
      <accordion-example />
    </tab>

    <tab name="Segmented button" href="#segmented-button">
      <segmented-button-example />
    </tab>

    <tab name="Todo list" href="#todo-list">
      <todo-list />

      <div class="description">
        <p>
          This todo example shows that multiple items can be 'active' at the
          same time in the ActiveList.
        </p>

        <p>
          It also demonstrates how easy it is to move items around in the list.
          Try drag and dropping the todos.
        </p>
      </div>
    </tab>

    <tab name="Image gallery" href="#image-gallery">
      <gallery [images]="galleryImages"/>

      <div class="description">
        <p>
          The gallery is popular on websites that have a lot of images to show,
          but do not want to single out a single image.
        </p>
      </div>
    </tab>

    <tab name="Timeline" href="#timeline">
      <timeline-example />
      <div class="description">
        <p>
          The idea behind this example is to show that "uiloos" is aware of the
          position an item has within the ActiveList. "uiloos" can tell you what
          the next item, previous item and what first and last items are.
        </p>

        <p>
          You can then use this information to set different CSS classes for
          each item.
        </p>
      </div>
    </tab>

    <tab name="Selector" href="#selector">
      <condiment-selector-example />

      <div class="description">
        <p>
          This example shows that via "maxActivationLimit" you can limit the
          amount of content / items that can be active.
        </p>

        <p>
          By setting "maxActivationLimitBehavior" to "ignore" whenever more
          items are activated than the "maxActivationLimit" they are simply
          ignored.
        </p>
      </div>
    </tab>
  </tabs>

